<%= render 'shared/title', title: "Login to CourseDiscuss" %>
</br>

<% if flash[:notice] %>
  <p class="notice" style="color:red;"><%= flash[:notice] %></p>
<% end %>
</br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

 		<div class="col-md-6">
	  
			<div class="well" style="background:white;">

				<%= flash[:notice] %>

				<%= form_for(:session, url: { action: 'create' }) do |f| %>
				
				  <p><%= f.text_field(:username, :size => 40, :placeholder => "Username") %></p>
			
				  <p><%= f.password_field :password, :size => 40, :placeholder => "Password" %></p>
				  <p><%= f.submit 'Log In', class: "btn btn-primary" %></p>
				<% end %>
			</div>

 		</div>
 		<div class="col-md-3">
 		</div>
	</div>
</div>

</br>
<h5>Don't have an account?</h5>
<%= link_to 'Sign up for an account', new_users_path %>