<h1>Login to CourseDiscuss</h1>

<%= flash[:notice] %>

<%= form_for(:session, url: { action: 'create' }) do |f| %>
  <p>Username</p>
  <p><%= f.text_field(:username) %></p>
  <p>Password</p>
  <p><%= f.password_field :password %></p>
  <p><%= f.submit 'Log In', class: "btn btn-primary" %></p>
<% end %>

<%= link_to 'Sign up', new_users_path %>