<%= render 'shared/title', title: "All Students" %>
<% if flash[:notice] %>
  <p class="notice" style="color:red;"><%= flash[:notice] %></p>
<% end %>
</br>

<h5>This is a list of all the students that have signed up to use the website.</h5>
</br>


<% @users.each do |u| %>
	<div class="inline">
		<div class="well" style="background:white;">
			<%= gravatar_image_tag(u.email) %>
			<p><%= link_to u.username, other_user_path(u) %></p>

			<% u.schools.limit(1).each do |s| %>
				<p><%= link_to s.name, school_path(s) %></p>
			<% end %>
			
			<p><%= link_to "Follow #{u.username}", friendships_path(:friend_id => u), :method => :post, class: 'btn btn-primary' %></p>
		</div>
	</div>
<% end %>
<p><%= will_paginate @users, renderer: BootstrapPagination::Rails %></p>


