<h1>Sign Up for CourseDiscuss</h1>
</br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">

      <div class="well" style="background:white;">

        <%= form_for @user do |f| %>

          <p><%= f.text_field :first_name, :size => 40, :placeholder => "First Name" %></p>
        
          <p><%= f.text_field :last_name, :size => 40, :placeholder => "Last Name" %></p>

          <p><%= f.text_field :email, :size => 40, :placeholder => "Email" %></p>

          <p><%= f.text_field :phone, :size => 40, :placeholder => "Phone" %></p>

          <p><%= f.text_field :username, :size => 40, :placeholder => "Username" %></p>
         
          <p><%= f.password_field :password, :size => 40, :placeholder => "Password" %></p>

          <p><%= f.submit 'Sign Up', class: "btn btn-primary" %></p>

        <% end %>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

</br>
<h5>Already have an account?</h5>
<%= link_to 'Login to account', login_path %>