<h1>My Activity</h1>
</br>
</br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
			<h3>My Recent Posts:</h3>
			</br>
			<% @user.posts.limit(5).each do |p| %>
				<div class="well" style="background:white;">
					<p><strong><%= display_datetime(p.created_at) %></strong></p>
					<p><%= link_to p.school.name, school_path(p.school) %></p>
					<p><%= p.course.name %></p>
					<p><strong><%= p.title %></strong></p>
					<p><%= p.description %></p>
				</div>
			<% end %>
    </div>

		
    <div class="col-md-6">
			<h3>People I'm Following:</h3>
			</br>
			<div class="inline">
				<% @user.friendships.each do |f| %>
					<div class="well" style="background:white;">
						<%= gravatar_image_tag(f.friend.email) %>
						
						<p><%= f.friend.username %></p>
						<p><%= f.friend.email %></p>
						<% f.friend.schools.limit(1).each do |p| %>
							<p><%= p.name %></p>
						<% end %>
						<p><%= link_to 'Stop Following', destroy_friend_path(f), :method => :delete, class: 'btn btn-primary' %></p>
					</div>
					</br>
				<% end %>
			</div>
			</br>
			<%= link_to 'view all students online here', users_show_path %>
    </div>
		
   </div>
</div>