<h1>My Profile Page</h1>
</br>
</br>


<div class="container">
    <div class="row">
        <div class="col-md-6">

						<h3>My Profile Info</h3>

						<div id="profile-pic">
							<%= gravatar_image_tag(@user.email) %>
						</div>

						</br>
						<p>First Name: <%= @user.first_name %></p>
						<p>Last Name: <%= @user.last_name %></p>
						<p>Email: <%= @user.email %></p>
						<p>Phone: <%= @user.phone %></p>
						<p>Username: <%= @user.username %></p>
           
        </div>
        <div class="col-md-6">
      
					<h3>My Schools</h3>
					<% @schools.each do |s| %>
						<h4><%= link_to s.name, school_path(s) %></h4>
					<% end %>

					</br>
					<%= link_to "Add a new school to my list", select_school_path(@user)%>


					</br>
					<h3>My Saved Courses:</h3>

        </div>

    </div>
</div>



