<% if current_user %>
  <h1>Welcome to CourseDiscuss, <%= current_user.username %>!</h1>
  </br>
  <div class="well" style="background:white;">
      <h3>News Feed</h3>
      </br>
      <div class="container">
        <div class="row">
          <div class="col-md-6">  
              
              <% User.all.limit(5).reverse.each do |u| %>
                <p><strong><%= display_datetime(u.created_at) %>:</strong> <%= u.username %> joined the site!</p>
              <% end %>
          </div>
          <div class="col-md-6">
            <% current_user.favorites.limit(5).reverse.each do |f| %>
                <% if Course.find(f.course_id).posts.last %>   
                   <p>
                    <strong><%= User.find(Course.find(f.course_id).posts.last.user_id).username %></strong> posted in <%= link_to Course.find(f.course_id).name, school_course_path(School.find(Course.find(f.course_id).school_id),Course.find(f.course_id)) %> at <%= School.find(Course.find(f.course_id).school_id).name %></p>
                <% end %>
              <% end %>


          </div>
        </div>
      </div>
  </div>
  </br>
<% else %>
  <h1>Welcome to CourseDiscuss!</h1>
  <h4><%= link_to 'Login', login_path %> or <%= link_to 'Sign Up', new_users_path %></h4>
  </br>
<% end %>




<div class="container">
  <div class="row">
    <div class="col-md-7">
    	<h3>Connect with your classmates and discuss your University courses!</h3>

      <div class="container grid-custom" id="portfolio-images">
        <div class="row" style="text-align:center;">
          <div class="col-sm-3 col-xs-6"><%= link_to(image_tag("school1.jpg", :alt => "pic", style: "width:300px; height:260px;"), image_path(root_path, class: "img-responsive")) %></div>
          <div class="col-sm-3 col-xs-6"><%= link_to(image_tag("school2.jpg", :alt => "pic", style: "width:300px; height:260px;"), image_path(root_path, class: "img-responsive")) %></div>
        </div>
        <div class="row" style="text-align:center;">
          <div class="col-sm-3 col-xs-6"><%= link_to(image_tag("school3.jpg", :alt => "pic", style: "width:300px; height:260px;"), image_path(root_path, class: "img-responsive")) %></div>
          <div class="col-sm-3 col-xs-6"><%= link_to(image_tag("school4.jpg", :alt => "pic", style: "width:300px; height:260px;"), image_path(root_path, class: "img-responsive")) %></div>
        </div>
      </div>
      </br>
    </div>

    <div class="col-md-5">
    	<h3>Some of our supported schools:</h3>
    	</br>
      <div class="well" style="background:white;">

  			<% @schools.limit(15).each do |s| %>
  				<p><%= link_to s.name, school_path(s) %></p>
  			<% end %>
      </div>
			
      <%= link_to 'view all supported schools', all_schools_path %>

      </br>
      </br>
			<h4>Don't See Your School?</h4>
      <% if current_user %>
			 <%= link_to 'Connect Your School!', new_school_path, class: 'btn btn-primary'  %>
      <% else %>
        <%= link_to 'Connect Your School!', login_path, class: 'btn btn-primary'  %>
      <% end %>
    </div>

   </div>
</div>