<% if current_user %>
  <h1>Welcome to CourseDiscuss, <%= current_user.username %>!</h1>
<% else %>
  <h1>Welcome to CourseDiscuss!</h1>
<% end %>

</br>
</br>


<div class="container">
  <div class="row">
    <div class="col-md-7">
    	<h3>Connect with your classmates and discuss your University courses!</h3>

      <div class="container grid-custom" id="portfolio-images">
        <div class="row" style="text-align:center;">
          <div class="col-sm-3 col-xs-6"><%= link_to(image_tag("school1.jpg", :alt => "pic", style: "width:300px; height:260px;"), image_path(root_path, class: "img-responsive")) %></div>
          <div class="col-sm-3 col-xs-6"><%= link_to(image_tag("school2.jpg", :alt => "pic", style: "width:300px; height:260px;"), image_path(root_path, class: "img-responsive")) %></div>
        </div>
        <div class="row" style="text-align:center;">
          <div class="col-sm-3 col-xs-6"><%= link_to(image_tag("school3.jpg", :alt => "pic", style: "width:300px; height:260px;"), image_path(root_path, class: "img-responsive")) %></div>
          <div class="col-sm-3 col-xs-6"><%= link_to(image_tag("school4.jpg", :alt => "pic", style: "width:300px; height:260px;"), image_path(root_path, class: "img-responsive")) %></div>
        </div>
      </div>
      </br>


    </div>

    <div class="col-md-5">
    	<h3>Some of our supported schools:</h3>
    	</br>
      <div class="well" style="background:white;">

  			<% @schools.limit(15).each do |s| %>
  				<p><%= link_to s.name, school_path(s) %></p>
  			<% end %>
      </div>
			
      <%= link_to 'view all supported schools', all_schools_path %>

      </br>
      </br>
			<h4>Don't See Your School?</h4>
      <% if current_user %>
			 <%= link_to 'get connected!', new_school_path %>
      <% else %>
        <%= link_to 'get connected!', login_path %>
      <% end %>
    </div>

   </div>
</div>