<h1>Add a New School</h1>
</br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">

      <div class="well" style="background:white;">

				<%= form_for @school do |f| %>

				  <p><%= f.text_field :name, :size => 40, :placeholder => "School Name"  %></p>

				  <p><%= f.text_field :location, :size => 40, :placeholder => "Location City"  %></p>

				  <p><%= f.text_field :state, :size => 40, :placeholder => "Location State"  %></p>

				  <p><%= f.submit 'create school', class: "btn btn-primary" %></p>

				<% end %>

			</div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>