<h1><%= @school.name %></h1>
<h3><%= @school.location %>, <%= @school.state %></h3>


</br>
</br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
    	<h3>Available Courses:</h3>
      </br>
      <div class="well" style="background:white;">

  			<% @courses.each do |c| %>
  				<p><%= link_to c.name, school_course_path(@school,c) %></p>
  			<% end %>
      </div>
      </br>
      <h4>Don't see your course?</h4>
      <% if current_user %>
        <%= link_to 'add your course', new_school_course_path(@school) %>
      <% else %>
        <%= link_to 'add your course', login_path %>
      <% end %>

    </div>

    <div class="col-md-6">
      <h3>Students at <%= @school.name %>:</h3>
      </br>
      <div class="well" style="background:white;">

        <% @users.each do |u| %>
          <p><%= link_to u.username, other_user_path(u) %></p>
        <% end %>
      </div>
    </div>

   </div>
</div>