<h3>Create a New Course</h3>
</br>

<!-- [@school,@course,@course.posts.build] -->

<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">

      <div class="well" style="background:white;">

				<%= form_for(@course, as: :course, url: school_courses_path) do |f| %>
				  <p><%= f.text_field :name, :size => 40, :placeholder => "Name"  %></p>

				  <p><%= f.text_area :description, size: "60x12", :placeholder => "Description"  %></p>

				  <%= f.hidden_field :school_id, :value => params[:school_id] %>

				  <p><%= f.submit 'Create a New course', class: "btn btn-primary" %></p>
				<% end %>

			</div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
