<h1><%= @course.name %> at <%= @school.name %></h2>
</br>
<% if current_user %>
	<p><%= link_to 'add this course to favorites', school_course_favorite_path(@course,@school), method: :post, class: "btn btn-primary" %></p>
<% else %>
	<p><%= link_to 'add this course to favorites', login_path, class: 'btn btn-primary' %></p>
<% end %>
</br>

<h3>Course Description:</h3>
<p><%= @course.description %></p>
</br>

<% if current_user %>
	<p><%= link_to "create new post", new_school_course_post_path(@course,@school) %></p>
<% else %>
	<p><%= link_to "create new post", login_path %></p>
<% end %>

<h3>Posts about this course:</h3>

<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
     
			<% @course.posts.each do |c| %>
				<div class="well" style="background:white;">
					<p><strong><%= display_datetime(c.created_at) %></strong></p>
					<p><strong><%= c.title %></strong></p>
					<p><%= c.description %></p>
					<p>~ by <%= User.where({id: c.user_id}).first.username %></p>
				</div>
			<% end %>

    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

