<h1><%= @school.name %></h1>
<h1><%= @course.name %></h1>

<p><%= link_to "create new post", new_school_course_post_path(@course,@school)%></p>

<h3>Posts about this course:</h3>

<% @course.posts.each do |c| %>
	<p><%= c.title %></p>
	<p><%= c.description %></p>
<% end %>

